@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Kaushan+Script&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Caveat', cursive;
    font-family: 'Kaushan Script', cursive;
    margin: 0;
}
nav {
background-color: #9c6e86;
position: fixed;
top: 0;
width: 100%;
padding: 1em;
}

nav ul 
{
list-style-type: none;
display: flex;
justify-content: center;
}

nav ul li
{
margin-right: 30px;
}

nav ul li a 
{
color: #301b26;
text-decoration: none;
letter-spacing: 5px;
font-size: 30px;
font-variant: small-caps;
}
.header
{
background-image: url("tło_wiosna.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 800px;
display: flex;
align-items: center;
justify-content: center;
color: #1f0d17;
}

.header h1{
background-color: rgb(224, 166, 198, 0.7);
padding: 3px;
width: 550px;
height: 550px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #8f275b;
    --color-2: #220114;
    --color-3: #910251;
    padding-right: 10px;
  }
  
  .title-word-2 {
    --color-1: #2e0112;
    --color-2: #880c63;
    --color-3: #240016;
    padding-right: 10px;
  }
  
  .title-word-3 {
    --color-1: #8a0050;
    --color-2: #4e0025;
    --color-3: #612945;
    padding-right: 10px;
  }
  
  .title-word-4 {
    --color-1: #350023;
    --color-2: #8a0050;
    --color-3: #360e21;
    padding-right: 10px;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }

#introduction
{
background-image: url("tło_wiosna.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 600px;
align-items: center;
justify-content: center;
}
.content
{
background-color: #c09bb0;
text-align: left;
padding-left: 50px;
padding-right: 120px;
padding-top: 10px;
padding-bottom: 30px;
display: flex;
font-size: 25px;
margin-left: 15px;
margin-right: 15px;
}

 h1
{
margin: 0px 15px 0px 15px;
font-size: 35px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 20px;
background-color: #c09bb0;
color: #200f18;
text-decoration-line: underline;
text-decoration-style: wavy;
text-decoration-thickness: 2px;
text-decoration-color: #8a5271;

}

.section_2
{  
background-color: #c09bb0;
color: #200f18;  
text-align: left;
padding-left: 50px;
padding-right: 120px;
padding-top: 10px;
padding-bottom: 35px;
display: flex;
font-size: 25px;
}

#gallery
{
display:grid;
justify-content: center;
align-items: center;
background-color: #af889c;
align-items: center;
justify-content: center;
padding-bottom: 35px;
padding-top: 10px;
}
#img_dotted
{
width: 420px;
height: 380px; 
border-radius: 50%;
border: 4px dotted #460529;
margin-right: 20px;
}
.img
{
padding-right: 20px;
padding-left: 20px;
margin-bottom: 10px;
margin-top: 10px;
}
.section_2 h2
{
padding-right: 15px;
}
.section_3
{
background-color: #c09bb0;
color: #200f18;  
text-align: left;
padding-left: 50px;
padding-right: 120px;
padding-top: 10px;
padding-bottom: 30px;
display: flex;
font-size: 25px;   
}

#gallery h1
{
text-align: center;
color: #271122;
background-color: rgb(61, 18, 44, 0.4);
border-radius: 20px;
border-style: dotted;
margin-left: 200px;
margin-right: 210px;
}

#more_info
{
background-color: #4d2a3d;
font-size: 30px;
text-align: center;
padding-bottom: 35px;
}

#more_info h2
{
margin: 0;
color: rgb(238, 185, 212);
}

a.outside{
text-decoration: none;
color: #1b0a17;
background-color: rgb(238, 185, 212);
width: 800px;
height: 70px;
display: block;
margin: 5px auto;
line-height: 50px;
border: 2px dotted rgb(44, 1, 26);
border-radius: 35px;
	
}

a.outside:visited{
color: rgb(58, 25, 35);
}
a.outside:hover{
color: #dda3c4;
background-color: #8a2f62;
box-shadow: 4px 3px 3px #000;
border: 4px dotted rgb(44, 1, 26);
}
a.outside:active{
background-color: rgb(211, 125, 211);
color: #0e001f;
}

#contact 
{
background-color: #4d2a3d;
color: rgb(238, 185, 212);
font-size: 20px;
text-align: left;
padding-left: 50px;
padding-bottom: 25px;
padding-top: 30px;
}
#contact h2
{
font-size: 35px;
margin: 0;
}
.form
{
color: rgb(238, 185, 212);
background-color: #4d2a3d;
display: block;
}
.input
{
color: rgb(0, 0, 0);
background-color: rgb(245, 220, 233);
height: 40px;
width: 90%;
display: flex;
margin: 5px auto;
border-radius: 35px;
display: inline-block;
}
#button
{
text-align: center;
font-size: 30px;
background-color: #dda3c4;
color:#1b0a17;
height: 50px;
width: 100px;
border-radius: 20px;
margin: 10px;
font-variant: small-caps;
border: 2px solid #35061e;
}
#message
{
height: 100px; 
border-radius: 10px;
}

footer
{
margin: 0;
padding: 5px;
padding-left: 25px;
background-color: #4d2a3d;
color: #c09bb0;
font-size: 20px;
}